body {
  background-image: url("images/pexels-pixabay-531880.jpg");
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-image: url("images/pexels-pixabay-531880.jpg");
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("images/pexels-pixabay-531880.jpg");
  }
}

h1 {
  text-align: center;
  color: black;
}

.options_bar {
  display: flex;
  list-style-type: none;
}

.options_bar li {
  margin-right: 20px;
}

/*
PONER "options_bar" en el centro de la página
*/
